<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="readme" label="COM_CIVICRM_README_LABEL" description="COM_CIVICRM_README_DESC">
		<field name="civicrmaclnote" type="note" label="COM_CIVICRM_NOTE_LABEL" description="COM_CIVICRM_NOTE_DESC" />
	</fieldset>
	<fieldset addfieldpath="/administrator/components/com_civicrm/civicrm/joomla/libraries/joomla/form/fields" name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="civiperms" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" validate="rules" component="com_civicrm" section="component" />
	</fieldset>
</config>
